body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    display: flex;
    height: 100vh;
}

.users {
    width: 25%;
    background: white;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.chat-box {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.message {
    padding: 8px;
    background: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 5px;
}

input, button {
    padding: 10px;
    margin: 4px;
    font-size: 16px;
    border-radius: 5px;
}
