body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    display: flex;
    height: 100vh;
}

.users {
    width: 25%;
    background: white;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.chat-box {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 8px;
    background: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 5px;
}

.userItem {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: #29d4ff;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    list-style: none;
}

.userItem:hover {
    background: #29b0ff;
    transform: translatex(-5%);
    transition: all 0.2s ease-in-out;
}

.userItem:active {
    background: #29d4ff;
    transform: translatex(0);
    transition: all 0.2s ease-in-out;
}

.input-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

#msgInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-collapse: collapse;
    border-radius: 50px;
    border-color: #ff295f;
    color: #ff295f;
    border-width: 2px;
    border-style: solid;
}

#msgInput:hover, #msgInput:focus    {
    outline: none;
    box-shadow: 0 0 15px #ff92ae;
    transition: all 0.5s ease-in-out;
}

#sendBtn {
    background: #8d29ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

#sendBtn:hover {
    background: #7f0fff;
    transform: translateY(-5px);
    box-shadow: 0 0 15px #b366ff;
    transition: all 0.3s ease-in-out;
}

#sendBtn:active {
    background: #8d29ff;
    transform: translateY(0);
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

input, button {
    padding: 10px;
    margin: 4px;
    font-size: 16px;
    border-radius: 5px;
}
